#instafeed{
max-width: 100%;
width: 100%;
height: auto;
overflow: hidden;
}

#instafeed div{
display: block !important;
float: left;
}

#instafeed img{
	width: 100%;
}

.columns_1 div{
width: 100%;
}

#instafeed.columns_1 div{
clear: left;	
}

.columns_2 div{
width: 50%;
}

#instafeed.columns_2 div:nth-child(3) div, #instafeed.columns_2 div:nth-child(5) div,
#instafeed.columns_2 div:nth-child(7) div, #instafeed.columns_2 div:nth-child(9) div,
#instafeed.columns_2 div:nth-child(11) div, #instafeed.columns_2 div:nth-child(13) div, 
#instafeed.columns_2 div:nth-child(15) div, #instafeed.columns_2 div:nth-child(17) div, 
#instafeed.columns_2 div:nth-child(19) div{
clear: left;	
}

.columns_3 div{
width: 33.3333%;
}

#instafeed.columns_3 div:nth-child(4) div, #instafeed.columns_3 div:nth-child(7) div,
#instafeed.columns_3 div:nth-child(10) div, #instafeed.columns_3 div:nth-child(13) div,
#instafeed.columns_3 div:nth-child(16) div, #instafeed.columns_3 div:nth-child(19) div{
clear: left;	
}

.columns_4 div{
width: 25%;
}

#instafeed.columns_4 div:nth-child(5) div, #instafeed.columns_4 div:nth-child(9) div,
#instafeed.columns_4 div:nth-child(13) div, #instafeed.columns_4 div:nth-child(17) div{
clear: left;	
}

#instafeed.padding_1 div{
	padding: 1px;
}

#instafeed.padding_2 div{
	padding: 2px;
}

#instafeed.padding_3 div{
	padding: 3px;
}

#instafeed.padding_4 div{
	padding: 4px;
}

#instafeed.padding_5 div{
	padding: 5px;
}

#instafeed.padding_6 div{
	padding: 6px;
}

#instafeed.padding_7 div{
	padding: 7px;
}

#instafeed.padding_8 div{
	padding: 8px;
}

#instafeed.padding_9 div{
	padding: 9px;
}

#instafeed.padding_10 div{
	padding: 10px;
}

#instafeed.false:hover{
cursor: pointer;
}

.fancybox-inner{
width: 500px !important;
}

.fancybox-inner img{
width: 100%;
}

#instafeed.bubbles_on{
border-radius: 100%;
position: relative;
width: 400px;
height: 400px;
}

#instafeed.bubbles_on img{
max-width: 100%;
}

#instafeed.bubbles_on .fancybox-buttons{
display: block;
border-radius: 100%;
position: absolute;
overflow: hidden;
float: none;
}

#instafeed .details{
	display: none !important;
}

@media (max-width: 600px){
	.fancybox-inner{
	width: 250px !important;
	}

	#instafeed.bubbles_on{
	width: 300px;
	height: 300px;
	}
}
























